<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.srch2.android.http.service">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--- for Robolectic test only
    <uses-sdk android:minSdkVersion="18"></uses-sdk>
    -->
    <application>
        <service
                android:name="com.srch2.android.http.service.SRCH2Service"
                android:exported="false"
                android:enabled="true"
                android:process=":remotee">
        </service>

    </application>

</manifest>
