body {
	margin:0;
	padding:0;
    font-size: 12pt;
    background-color: white;
    font-family: Arial,Sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #086ca2;
	border: 2px solid white;
}
::-webkit-scrollbar-track-piece {
	background-color: white;
}

#top1 {
	background-color: #086ca2;
	height: 77px;
	
}

#left1 {
	background-color: white;	
}

#bottom1{
	padding: 3px 6px 0 0;
	height: 25px;
	font-weight: bold;
	background-color: #086ca2;
	color:white;
	text-align: center;
}

#bottom1 a {
	text-decoration: none;
	color:white;
}

#bottom1 a:visited {
	color:white;
}

#appleBadge{
position: absolute;
bottom: -8px;
right: 5px;
}

#appleBadge:hover{
bottom: -2px;
}

#toggle {
    text-align: center;
    padding: 1em;
}
#toggle a {
    padding: 0 5px;
    border-left: 1px solid black;
}
#tRight {
    border-left: none !important;
}

#inputBoxes{
	margin-left:25px;
	margin-right:20px;
}

#logoImg{
	width:310px;
	margin-top:7px;
	margin-right:20px;
}

#omniplaces-logo{
	font-family: 'Arvo', serif;
	font-weight: bold;
	font-size: 45px;
	margin-top:15px;
	margin-right:30px;
}

#searchText
{
	font-size: 20px;
	color: #086ca2;
	height: 28px;
	width: 100%;
	min-width: 150px;
	margin-top:15px;
	
	padding: 4px 0px 4px 4px;
	
	border: solid 3px #ffba00;
	
	outline: none;
	
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}

#nearImg{
	margin-top:20px;
	padding-left:18px;
	padding-right:10px;
	height: 17px;
}

#location
{
	font-size: 20px;
	color: #086ca2;
	height: 28px;
	width: 100%;
	min-width: 100px;
	margin-top:15px;
	
	padding: 4px 0 4px 4px;

	
	border: solid 3px #ffba00;
	
	outline: none;
	
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;

}

#info {
	color:white;
	font-weight:bold;
	position:absolute;
	right:10px;
	top:8px;
}

#loadMoreButton {
	color:white;
	font-weight:bold;
	font-size: 16px;
	display: block;
	background-color: #a5d0e8;
	text-align: center;
	margin: 20px 0 20px 0;
	padding: 15px 0 15px 0;
	cursor: pointer;
}
#loadMoreButton:hover {
	background-color: #086ca2;
}

.result-list-map-icon {
	height: 20px;
	/*overflow: hidden;*/
}
.result-list-secondary-details{
	margin-left: 5px;	
}

.result-list-primary-title{
	margin-left: 5px;
	font-size: 15pt;		
}

#loadSocial {
	height: 100px;
	width: 310px;
	margin-bottom: 60px;
	/*height: 40px;
	width: 240px;*/
}

/*.social-links-images {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}*/

#loadSocial.loading {
	background: url(loader.gif) no-repeat center center;
}

#social-reviews-container{
	/*height: 60px;*/
	width: 310px;
	/*margin-top: 5px;
	height: 40px;
	width: 240px;*/
}

#social-reviews-list{
	width: 300px;
}
  
.distance{
	color:#086ca2;
	font-weight:bold;
	font-style:italic;
	font-size:10pt;
	float:right;
	padding-top: 5px;
}

.infoWindowTitle{
	margin:0 0 7px 0;
	font-size: 15pt;
	font-weight:bold;
	color: #086ca2;
}

.priorityIcon {
	margin: 0 2px 3px 3px;
}

.clickForMore {
	text-decoration: none;
	margin: 0 0 0 6px;
	color: #086ca2;
	font-weight: bold;
}

.moreSocialLinks {
	margin: 0 0 0 6px;
	color: #086ca2;
	font-weight: bold;
}

.pac-container
{
	text-align:left;
}

tbody
{
    text-align: center;
}

td
{
    text-align: left;
    padding: 3px;
}

.legend_exact
{
  background-color: #000080;
}

.legend_fuzzy
{
  background-color: #FF00FF;
}

.highlight
{
    font-weight: bold;
    color: #034569;
}

.highlight1
{
    font-weight: bold;
    color: #ffba00;
}

.entry
{
	color: #086ca2;
    cursor: pointer;
    background-color: white;
    font-size: 10pt;
   /* border: 1px solid #a5d0e8;*/
    padding: 3px;
}

.entry:hover
{
    background-color: #a5d0e8;
}

.entry2
{
    cursor: pointer;
    background-color: white;
    font-size: 10pt;
    /*border: 1px solid #a5d0e8;
    padding: 3px; */
}

.entry2:hover
{
    background-color: #a5d0e8;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
display: none !important;}

/*Reviews from yelp and citysearch. Thanks to Allmenus.com :) */
ul.city_search_reviews {padding-bottom:7px;min-height:83px;clear:both;}
ul.review_list.citysearch {padding-bottom:4px;}
li.review_list_item_profile {float:left; margin: 0 15px 10px 0}

.review_list_item_profile img {width:70px; border:1px solid #EEEEEE;}
.review_list_item_poster {margin:0;padding:4px 0 0; font-size: 10px;}
.review_list_item_except p {padding:0;line-height:14px;}

.panel {
position: absolute;
top: 28px;
right: 65px;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
width: 700px;
height: auto;
padding: 30px 30px 30px 30px;
filter: alpha(opacity=90);
opacity: .90;
}

.beginText{
	font-size:22px;
	font-family:verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight: 700;
}

.smallTitle{
	font-size:16px;
	font-family:verdana, helvetica, arial, sans-serif;
	color:#fff;
	font-weight: 700;
}

.panel p{
	text-align: left;
	font-size:14px;
	line-height:120%;
	margin: 0 0 15px 0;
	padding: 0;
	color: #bbbbbb;
	font-weight: 700;
}

.panel h1{
	text-align: left;
	font-size:14px;
	line-height:150%;
	margin: 0 0 0 5px;
	padding: 0;
	color: #bbbbbb;
	font-weight: 700;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: absolute;
text-decoration: none;
top: -29px; right: 5px;
font-size: 14px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 30px 7px 2px 18px;
font-weight: 700;
background:#555 url(downArrow.png) 10% 86% no-repeat;
display: block;
outline: none;
box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

a.trigger:hover{
background:#222222 url(downArrow.png) 10% 86% no-repeat;
}

a.active.trigger {
background:#222222 url(upArrow.png) 10% 83% no-repeat;
}

.inputNewRecordSpan{
	display: block;
	font-size: 12pt;
	color: #086ca2;
}

.inputNewRecordTextField{
	color: #086ca2;
	height: 20px;
	
	border: 1px solid #ffba00;
	margin-bottom: 8px;
	outline: none;
}

a.inputNewRecordButton{
   background: #65a9d7;	
   -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   -webkit-linear-gradient(top, #3e779d, #65a9d7);
   -moz-linear-gradient(top, #3e779d, #65a9d7);
   -ms-linear-gradient(top, #3e779d, #65a9d7);
   -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 3px 6px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   color: white;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

a.inputNewRecordButton:hover {
   border-top-color: #28597a;
   background: #086ca2;
   color: #ccc;
   }
a.inputNewRecordButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

#timer{
	top: 500px;
	left: 340px;
	position: absolute;
	text-decoration: none;
	
	font-size: 14px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 5px 7px 5px 7px;
	font-weight: 700;
	background:#555;
	display: block;
	outline: none;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

