/*this css is used in acunit dropdown list*/

.acunit {
    border: solid black;
    border-width: 1px;
    background-color: white;
}

.item1 {
     background-color: #ecf0f0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding: 3px;
}
.item2 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding: 3px;
}

.sitem {
     background-color: #99CCCC;
     border-bottom-width: 1px;
     border-bottom-style: dotted;
     border-bottom-color: #999;
     padding: 3px;
}

div.item1 span.highlight1 {
    font-weight: bold;
}

div.item1 span.highlight2 {
    font-weight: bold;
	text-decoration: underline;
}

div.item2 span.highlight1 {
    font-weight: bold;
}

div.item2 span.highlight2 {
    font-weight: bold;
	text-decoration: underline;
}

div.sitem span.highlight1 {
    font-weight: bold;
}

div.sitem span.highlight2 {
    font-weight: bold;
    text-decoration: underline;
}

.static {
    background-color: #f0f4f4;
    border-top: solid gray;
    border-top-width: 1px;
}

.entry {
    height: 24px;
    overflow: hidden;
}

div.item1 div.entry0 {
    height: 18px;
    overflow: hidden;
    font-size: 12pt;
    color: #333;
}

div.item2 div.entry0 {
    height: 18px;
    overflow: hidden;
    font-size: 12pt;
    color: #333;
}

div.sitem div.entry0 {
    height: 18px;
    overflow: hidden;
    font-size: 12pt;
    /*color: #07C;*/
    color: #333;
}

div.item1 div.entry1 {
    height: 15px;
    overflow: hidden;
    font-size: 10pt;
    color: #3E6D8E;
}

div.item2 div.entry1 {
    height: 15px;
    overflow: hidden;
    font-size: 10pt;
    color: #3E6D8E;
}

div.sitem div.entry1 {
    height: 15px;
    overflow: hidden;
    font-size: 10pt;
    color: #3E6D8E;
}

div.item1 div.entry2 {
    height: 15px;
    overflow: hidden;
    color: #333;
}
div.item2 div.entry2 {
    height: 15px;
    overflow: hidden;
    color: #333;
}

div.sitem div.entry2 {
    height: 15px;
    overflow: hidden;
    color: #333;
}

/**#tbody {
    height: expression(this.scrollHeight > 400 ? "400px" : "auto" );
    max-height: 400px;
    overflow: auto;
}**/
