<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.srch2.android.sdk"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".CrudTestActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.srch2.android.sdk.LifeCycleTestActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.srch2.android.sdk.DirtyIndexableTestActivity"
                  android:label="@string/app_name">
        </activity>



        <service
                android:name="com.srch2.android.sdk.SRCH2Service"
                android:exported="false"
                android:enabled="true"
                android:process=":remotee">
        </service>
    </application>
</manifest>
