body {
	min-width: 800px;
}

div.head_box
{
	width: 100%;
	position: fixed;
	top:0px;
	left:0px;
	z-index: 999;
	background-color:#f0f7fb;
}
div.header {
	width: 100%;
	font-size: 9pt;
	font-family: Arial,sans-serif;
	background-color:#f0f7fb;
	z-index: 2;
}

h1 {
	margin-bottom:0;
}
div.result-bar {
    border-top-width: 1px;
	color:#484848 ;
	background-color:#99CCFF;
	z-index: 2;
}

div.box {
	position: absolute;
	top:140px;
	width: 98%;
}

div.content {
	position: absolute;
	top:155px;
	z-index: 1;
	width: 98%;	
}	
							
div.content-left { 
	width: 65%;
	max-width: 850px;
	float: left; 
	margin-left: 0.5em;  
	margin-top: -1em;
}
            
div.content-right {
	display: block;
	width: 28%;
	max-width: 370px;
	float: right;            		     
}

div#bottom {
    float: left;
}

div.pagination {
	
	text-align: right;
	width: 98%;
	margin: 1em;
}

div.pagination a { color: #4276aa; }
div.pagination a:visited { color: #4276aa; }

span.highlight1 {
    color: red;
    font-weight: bold;
}
span.highlight2 {
    color: #ff00ff;
    font-weight: bold;
}

.legend_table {
    width: 100%;
}
div.result-bar td {
    padding:0;
}
.legend_exact {
      background-color: red;
}

.legend_fuzzy {
      background-color: #F0F;
}

a.fuzzyLink{
	color:blue;
    font-size:0.9em;
}
span.text{
	color:#505050;
    font-size:0.9em;
}

div.rprt { 
	font-family:arial,helvetica,sans-serif; 
	padding: 1em 0.5em; 
	display: block; 
	border: 1px solid #fff;
}

div.rprt p, div.rprt p.title {
	margin: 0;
}

div.rprt p.title a { color: #2222cc; }
div.rprt p.title a:visited { color: #551a8b; }
div.rprt p.title a:active { color: #cc3300; }

div.rprt p.authors { 
	line-height: 1.3em; 
	margin: .2em 0 0 0; 
	font-size: 0.75em;
}

div.rprt p.authors a:link {
    border-bottom: 1px dotted black;
    text-decoration: none;
    color: black;
}
div.rprt p.authors a:visited {
    color: #551A8B;
    border-bottom: 1px dotted #551A8B;
    text-decoration: none;
}
div.rprt p.authors a:hover {
    border-bottom: 1px solid #2222CC;
    color: #2222CC;
}
div.rprt p.authors a:active {
    color: red;
    border-bottom-color: red;
}

div.rprt p.preview { 
	line-height: 1.1em; 
	padding: .6em 0; 
	font-size: 0.8em;
	color: #000;
}
div.rprt p.preview em { 
	color: #666;
}

div.rprt p.source{ 
	font-size: 0.75em;
	color: green;
	line-height: 1em; 
	margin-top: 0.5em; 
	margin-bottom: 0.35em;
}
div.rprt p.source a {
    color: #080;
}
div.rprt p.source a:hover {
    color: #0A0;
}

div.rprt p.affiliation { 
	line-height: 1em; 
	font-size: 0.8em;
	color: #606060;
	*margin-top: .4em 
}

div.rprt p.keywords { 
	line-height: 1em; 
	margin: .3em 0 0 0; 
	font-size: 0.7em;
	color: #4276aa;
	*margin-top: .4em 
}

div.rprt p.keywords a:visited { color: #4276aa; }

div.rprt p.additional {
    font-size: .8em;
}

div#abstract {
    display: none;
    background: #F0F7FB;
    border: 1px solid #ccc;
    font-family: Arial,sans-serif;
    font-size: 0.85em;
    left: 880px;
    position: absolute;
    top: 50px; right: 0;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    z-index: 110;
}

div#abstract-border-cover {
    display: none;
    position: absolute;
    z-index: 110;
    width: 1px;
    background: #F0F7FB;
}

div.active-rprt {
    position: relative;
    z-index: 10;
    background: #F0F7FB;
    border: 1px solid #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    z-index: 100;
}

div#abstract h3 {
    margin: 0.5em 0 0 0.5em;
    font-size: 1em;
}
div#abstract p {
    font-size: .9em;
    line-height: 1.3em;
    margin: .2em 0.5em 0.5em 0.5em;
}

div#bibtex {
    background: #CCC;
    border: 1px solid #888;
    padding: 0.5em;
    position: absolute;
    z-index: 120;
}

div#bibtex textarea {
    display: block;
    height: 120px;
    width: 350px;
}

div#bibtex a {
    display: block;
    text-align: center;
}